<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>天気予報(APIはlivedoorを使用)</title>
</head>
<body>
    <header>
    <h1>天気予報</h1>
    </header>
    <main>
        <h2 id = title>{{p_time}}の{{title}}</h1>
        <h2>{{des_p_time}}の天気概況</h2>
        <h3>{{headlineText}}</h3>
        <p>{{bodyText}}</p>
    </main>
    <footer>

    </footer>
</body>
</html>